/* ********* login ********* */
/* root and color */
@import url('./root.css');

.loginCss,
.loginCss>body {
    overflow-y: auto;
    height: 100vh;
}

.loginCss main {
    display: flex;
    align-items: center;
    height: 100vh;
}

.loginCss {
    background: linear-gradient(-157deg, #d4d7ea, #d4d7ea, #d4d7ea) !important;
}

.loginCss .login-right-img {
    background: linear-gradient(-123deg, #552cb3, var(--main-color-dark), var(--main-color));
}

.loginCss .login-section {
    box-shadow: -26px 26px 16px 8px #76767642;
}

.loginCss .btn-font {
    font-size: 22px !important;
}

@keyframes error_ani {
    0% {
        transform:translate(0%,-50%) rotate(0deg);
    }

    25% {
        transform:translate(0%,-50%) rotate(4deg);
    }

    50% {
        transform:translate(0%,-50%) rotate(0deg);
    }

    75% {
        transform:translate(0%,-50%) rotate(4deg);
    }

    100% {
        transform:translate(0%,-50%) rotate(0deg);
    }
}

.input-warning {
    position: relative;
    padding: 1.6rem 1.5rem;
}

.p-inp-warning {
    padding: 0.3rem 0em 1rem
}

.input-warning>span {
    position: absolute;
    top: 25%;
    right: 0;
    transform: translate(0%, -50%);
}

.inputErros {
    animation: error_ani;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-delay: .2s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

/* responsive */
@media screen and (max-height:805px) {
    .loginCss main {
        align-items: unset !important;
    }
}