:root {
    --main-color : #6f6be5;
    --main-color-dark :#4b48a4;
    --lemon-color : #FFE79B;
    --lemon-transparent-color : #ffe89bbd;
    --purple-color-1 : #9336B4;
    --purple-color-2 : #DD58D6;
}