/* root and color */
@import url('./root.css');
.bg-main {
    background-color: var(--main-color);
}
.text-main {
    color: var(--main-color);
}


/* all class */
html,
body {
    direction: rtl;
}


/* col */
.col-aside {
    flex: 0 0 auto;
    width: 19%;
}

/* bootstrap */
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--main-color);
}


/* content */
.content {
    min-height: calc(100vh - 204px);
}

footer {
    margin-top: auto !important;
}